nav{
    margin-bottom: 20px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: left;
    margin: 0;
    padding: 0;
    background-color: gray;

}
nav li>a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
}
nav li>a:hover{
    background-color: #333;
    color: white;
}