<!DOCTYPE html>
<html>
<head>
    <title>ITSS_JP_2</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js"></script>

</head>
<body>
    <h1>ITSS_JP_2</h1>
    <br>
    <select id="select">
        <option value="0">D9</option>
        <option value="1">C7</option>
        <option value="2">D3</option>
    </select>
    <button class="btn" id="Rbtn">RED</button>
    <button class="btn" id="Gbtn">GREEN</button>
    <button class="btn" id="Ybtn">YELLOW</button>
    <br>
    <!-- List trạng thái các tòa nhà -->
    <div id="list">
        <h2>Trạng thái các tòa nhà</h2>
        <ul>
            <li id="D9">D9: <div id = "D9-info" class="info">Không tắc</div> </li>
            <li id="C7">C7: <div id = "C7-info" class="info">Không tắc</div> </li>
            <li id="D3">D3: <div id = "D3-info" class="info">Không tắc</div> </li>
        </ul>
    </div>
</body>
</html>