/* Style cho bảng chính */
.site-inventory-item table {
    border-collapse: collapse;
    width: 800px;
    margin-bottom: 20px;
  }
  
  .site-inventory-item table th, table td {
    border: 1px solid #211f1f;
    padding: 8px;
    text-align: left;
  }
  .site-inventory-item .main-table th {
    background-color: #4CAF50;
    color: rgb(248, 248, 248);
  }
  /* Style cho hàng chứa thông tin inventory */
  .inventory-row {
    background-color: #f2f2f2;
  }
  
  /* Style cho bảng con chứa thông tin inventory */
  .site-inventory-item table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .site-inventory-item table table th, table table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
 
  
  /* Style cho khi hover vào hàng */
  .site-inventory-item table tr:hover {
    background-color: #e0d7d7;
  }
  
  /* Style cho khi hover vào hàng chứa thông tin inventory */
  .site-inventory-item table table tr:hover {
    background-color: #e2e2e2;
  }
  .sub-table{
    width: 750px;
  }
     .sub-table td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    .sub-table th {
        background-color: #0b81f8;
        color: rgb(248, 248, 248);
    }
  .site-inventory-item .order-submit-btn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  .site-inventory-item .order-submit-btn:hover {
    opacity: 0.8;
  }
  .site-inventory-item form{
    position: fixed;
    top: 50px;
    left: 20%;
    background: antiquewhite;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 600px;
  }
  .site-inventory-item .order-form{

    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    
  }
  .order-form input[type=number], select {
    width: 120px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 40px;
  }
  .order-form button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }
  .order-form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.order-form {
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
}

.site-inventory-item button[type = "submit"]
{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
