.home-site-role .site-table {
    width: 500px;
    border-collapse: collapse;
    margin: 20px 0;
}

.home-site-role .site-table th, .home-site-role .site-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.home-site-role .site-table th {
    background-color: #007f6e;
    text-align: left;
}

.home-site-role .site-table tr{
    cursor: pointer;
}
.home-site-role .site-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.home-site-role .site-table tr:hover {
    background-color: #ddd;
}
.home-site-role .site-table button{
    background-color: #007f6e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px
}
.home-site-role button{
    background-color: #007f6e;
    color: white;
    padding: 14px 20px;
    margin: 10px ;
    border: none;
    cursor: pointer;
    border-radius: 5px
}
.home-site-role .edit-site-form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    position: fixed;
    top :40px;
    left: 20%;
    background-color: #b8b6b6;
    padding: 20px;
    border-radius: 5px;
}
/* HomeSiteRole.css */
.home-site-role {
    position: relative;
}

.home-site-role .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.home-site-role .edit-site-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
